/*-------------- about -----------------*/
.about{
	margin-top: 117px;

	.container{position: relative;}

	.anim-tree{
		position: absolute;
		top: -27px;
		right: -18px;
	}
}

@media (max-width: 767px) {
	.about{margin-top: 60px;}
}