/*-------------- conditions -----------------*/
.conditions-wrap{
	margin: 110px 0 120px;
	.container{position: relative;}

	.anim-tree{
		position: absolute;
		top: -33px;
		right: -16px;
	}
}

.conditions{
	&__list{
		column-count: 2;
		column-gap: 30px;
	}

	&__title{
		font-family: $font-montserrat;
		@include font(none, 600, 1.8rem, 1.4, $color-dark);
		margin-bottom: 18px;
		position: relative;
		z-index: 1;

		&::before{
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: absolute;
			top: -5px;
			left: -10px;
			opacity: 0.7;
			z-index: -1;
		}
	}

	&__item{
		display: inline-block;
		width: 100%;
		padding: 0 14px;
		margin-bottom: 37px;
	}

	&__item:nth-child(4n+1) &__title::before{background: #79C175;}
	&__item:nth-child(4n+2) &__title::before{background: #FFB198;}
	&__item:nth-child(4n+3) &__title::before{background: #F0BB1F;}
	&__item:nth-child(4n+4) &__title::before{background: #C8CBEE;}

	&__text{
		@include font(none, none, 1.6rem, 1.75, none);
	}

	&__bottom{margin-top: -12px;}

	&__star{
		font-family: $font-montserrat;
		@include font(none, bold, 4.2rem, 1, #DF6951);
		padding: 0 5px;
		margin-bottom: 7px;
	}

	&__note{
		padding: 0 14px;
		line-height: 1.75;
	}
}