/*-------------- faq -----------------*/
.faq{
	padding: 117px 0;
	background: #FAF9FE
}

@media (max-width: 991px) {
	.faq{padding: 80px 0;}
}

@media (max-width: 767px) {
	.faq{
		padding: 60px 0 0;

		h1,.h1{margin-bottom: 45px;}
	}
}