/*-------------- lists -----------------*/
.list-dot{
	padding-left: 0;

	li{
		list-style: none;
		position: relative;
		padding-left: 10px;
	}

	li:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $color-green;
		margin-left: -10px;
		margin-right: 6px;
	}

	li:not(:last-child){margin-bottom: 20px;}
}

.list-num{
	list-style-type: none;
	counter-reset: num;
	padding-left: 0;

	li{
		list-style: none;
		position: relative;
		padding-left: 0;

		&::before{
			content: '0.'counter(num); 
			counter-increment: num;
			font-weight: 600;
			color: $color-green;
			margin-right: 10px;
		}
	}

	li:not(:last-child){margin-bottom: 20px;}
}