/*-------------- locations -----------------*/
.locations-wrap{
	margin: 120px 0;

	&__content{
		background: #fff;
		border-radius: 20px;
		padding: 98px 72px 80px;
		position: relative;

		.anim-tree{
			position: absolute;
			top: 42px;
			right: 12px;
		}
	}
}

.locations{
	display: flex;
	flex-wrap: wrap;

	&__sect{
		position: relative;
		margin-bottom: 20px;
	}

	&__label{
		@include font(none, bold, 1.6rem, 1.75, $color-dark);
	}

	&__text{
		@include font(none, none, 1.6rem, 1.75, none);
	}

	&__item:not(:last-child){margin-bottom: 20px;}
}

.bg-forest{
	padding-bottom: 20px;
	background: url(../img/bg-field.png) no-repeat bottom center;
}

@media (min-width: 1600px) {
	.locations{
		&__sect:not(:nth-child(3n)){margin-right: 116px;}
		&__sect:not(:nth-child(3n))::after{right: -111px;}
	}
}

@media (min-width: 1240px) {
	.locations{
		&__sect:not(:nth-child(3n)){margin-right: 116px;}
		&__sect:not(:nth-child(3n))::after{right: -58px;}
	}
}

@media (max-width: 1239px) {
	.locations{
		margin-left: -15px;
		margin-right: -15px;

		&__sect{
			width: calc(33.33% - 30px);
			margin-left: 15px;
			margin-right: 15px;
		}

		&__sect:not(:nth-child(3n))::after{right: -15px;}
	}
}

@media (min-width: 768px) {
	.locations{
		&__sect:not(:nth-child(3n))::after{
			content: '';
			display: block;
			width: 1px;
			height: 100%;
			background: rgba(94,98,130,0.3);
			position: absolute;
			top: 0;
		}
	}
}

@media (max-width: 767px) {
	.locations-wrap{
		margin: 60px 0;

		&__content{
			background: #E8F5E8;
			border: 2px solid #fff;
			padding: 40px 25px;
			border-radius: 10px;
		}
	}

	.locations{
		display: block;
		margin-left: 0;
		margin-right: 0;

		&__sect{
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}

		&__sect:not(:last-child){
			border-bottom: 1px solid rgba(94,98,130,0.3);
			padding-bottom: 30px;
			margin-bottom: 30px;
		}

		&__item:not(:last-child){margin-bottom: 25px;}

		&__label,
		&__text{
			font-size: 1.4rem;
			line-height: 1.7;
		}

		&__text{margin-top: 4px;}
	}
}