/*-------------- path -----------------*/
.path-wrap{
	background: linear-gradient(130.44deg, #2F5A43 0.8%, #91C919 184.11%), linear-gradient(110.77deg, #477B44 5.18%, #6F8A3A 97.44%), linear-gradient(0deg, rgba(1, 2, 2, 0.3), rgba(1, 2, 2, 0.3)), url(61axcy7n.png);
	padding: 80px 0 0;
	color: #fff;
	position: relative;

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 216px;
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.path-item{
	margin-bottom: 20px;

	&__title{
		font-family: $font-montserrat;
		@include font(none, 600, 1.8rem, 1.4, $color-dark);
		margin-bottom: 10px;
		position: relative;

		&::before{
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: -10px;
			opacity: 0.7;
		}
	}

	&__sect:nth-child(4n+1) &__title::before{background: #79C175;}
	&__sect:nth-child(4n+2) &__title::before{background: #FFB198;}
	&__sect:nth-child(4n+3) &__title::before{background: #F0BB1F;}
	&__sect:nth-child(4n+4) &__title::before{background: #C8CBEE;}

	&__text{
		@include font(none, none, 1.6rem, 1.5, none);
	}

	&__subtitle{margin-top: 20px;}
}