/*-------------- quest-form -----------------*/
.quest-form-wrap{
	position: relative;

	&::before{
		content: '';
		display: block;
		height: 200px;
		width: 100%;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__content{
		display: flex;
		border-radius: 20px;
	}

	&__img{
		background: url(../img/party.jpg) no-repeat center;
		background-size: cover;
	}

	.calendar{
		&__label{color: #fff;}
	}
}

.quest-form{
	width: 440px;
	flex-shrink: 0;
	background: linear-gradient(130.44deg, #2F5A43 0.8%, #91C919 184.11%), linear-gradient(157.16deg, #5B9274 -7.19%, #91C919 134.6%), #477B44;
	padding: 80px 40px 0;
}