/*-------------- quest-form -----------------*/
.quest-form-wrap{
	position: relative;

	&::before{
		content: '';
		display: block;
		height: 200px;
		width: 100%;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__content{
		display: flex;
		border-radius: 20px;
		position: relative;
	}

	&__img{
		width: 100%;
		background: url(../img/party.jpg) no-repeat center;
		background-size: cover;
		border-radius: 0 20px 20px 0;
	}

	.calendar{
		&__label{color: #fff;}
	}
}

.quest-form{
	width: 440px;
	flex-shrink: 0;
	background: linear-gradient(130.44deg, #2F5A43 0.8%, #91C919 184.11%), linear-gradient(157.16deg, #5B9274 -7.19%, #91C919 134.6%), #477B44;
	padding: 80px 60px;
	border-radius: 20px 0 0 20px;

	&__fields{
		display: flex;
		column-gap: 20px;
	}

	&__item{
		width: 100%;

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="password"],
		textarea{
			display: inline-flex;
			align-items: center;
			height: 5.6rem;
			width: 100%;
			font-family: $font-site;
			@include font(none, none, 1.4rem, 1.2, $color-dark);
			padding: 0 20px;
			border: 1px solid transparent;
			border-radius: 10px;
			background: #fff;
			outline: none;
			margin: 0;
			box-shadow: none;
			transition: border 0.2s ease 0s;
		}

		textarea{
			height: 10rem;
			line-height: 1.6;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}

		input[type="text"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="password"]:focus,
		textarea:focus{
			border-color: $color-green;
		}

		input[type="text"]::placeholder,
		input[type="number"]::placeholder,
		input[type="email"]::placeholder,
		input[type="password"]::placeholder,
		textarea::placeholder{
			color: $color-text;
			opacity: 1;
		}

		&_short{width: auto;}

		.select2-container .select2-selection--single{border-color: transparent}
		.select2{width: 68px!important;}
	}

	&__label{
		@include font(none, none, 1.2rem, 1.2, #fff);
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 12px;
	}

	&__btn{
		margin-top: 40px;
		.btn{width: 100%;}
	}
}

@media (max-width: 991px) {
	.quest-form-wrap{
		&__content{flex-direction: column-reverse;}

		&__img{
			height: 225px;
			border-radius: 20px 20px 0 0;
		}
	}

	.quest-form{
		width: 100%;
		border-radius: 0 0 20px 20px;
		padding-top: 60px;
	}
}

@media (max-width: 767px) {
	.quest-form-wrap{
		margin-left: -20px;
		margin-right: -20px;
		border-radius: 0;

		&__img{border-radius: 0;}
	}

	.quest-form{
		border-radius: 0;
		padding: 47px 20px 63px;
	}
}