/*-------------- review-slider -----------------*/
.review-slider-wrap{
	padding: 117px 0;
	background: url(../img/bg-forest.jpg) no-repeat center;

	h1,.h1{color: #fff;}

	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.btn-arr{
		border-color: #fff;
		.icon{stroke: #fff;}
		&:hover{background: rgba(255,255,255,0.4);}
	}

	.slick-dots{
		button{background: rgba(255,255,255,0.4);}

		button:hover,
		.slick-active button{
			background: #fff;
		}
	}
}

.review-slider{
	display: none;
	margin-left: -20px;
	margin-right: -20px;

	&.slick-initialized{display: block;}
	.slick-track{display: flex;}
	.slick-slide{height: auto;}

	.slick-slide > div,
	.review-item{
		height: 100%;
	}

	.slick-slide{margin: 0 20px;}

	.slick-dots{
		button{background: rgba(237,237,237,0.4);}

		button:hover,
		.slick-active button{
			background: #fff;
		}
	}
}

.review-item{
	background: #fff url(../img/quote.png) no-repeat calc(100% - 40px) 45px;
	border-radius: 10px;
	padding: 40px;

	&__top{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	&__img{
		flex-shrink: 0;
		width: 74px;
		height: 74px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-right: 30px;
	}

	&__name{
		font-family: $font-montserrat;
		@include font(none, 600, 1.8rem, 1.4, $color-dark);
	}

	&__date{
		@include font(none, none, 1.4rem, 1.2, $color-text);
		margin-top: 15px;
	}
}