/*-------------- select -----------------*/
.select2{width: 280px!important;}

.select2-container .select2-selection--single{
	height: 5.6rem;
	border: 1px solid e0e9ee;
	border-radius: 10px;
	font-size: 1.5rem;
	line-height: 5.4rem;
	color: $color-text;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	font-size: 1.4rem;
	font-weight: bold;
	color: $color-dark;
	line-height: 5.4rem;
	padding: 0 20px 0 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	display: inline-block;
	width: 30px;
	height: 100%;
	background: transparent;
	top: 0;
	right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: $color-green transparent transparent transparent;
	margin-left: -4px;
	margin-top: -5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	transform: rotate(180deg);
}

.select2-dropdown{
	background: #fff;
	border: 1px solid #e0e9ee;
	border-radius: 5px;
	padding: 0;
	font-size: 1.4rem;
	line-height: 1.5;
	color: $color-text;
	z-index: 100000;
}

.select2-container--default .select2-results > .select2-results__options{max-height: 300px;}

.select2-container--default .select2-results__option{
	padding: 10px;
	margin: 0;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: $color-green;
	color: #fff;
}

.select2-container--default .select2-results__option[aria-selected=true]{
	font-weight: 500;
	color: #fff;
}