/*-------------- services -----------------*/
.services-wrap{
	padding: 117px 0 56px;
	position: relative;
	background: #FAF9FE;

	.anim-tree{
		position: absolute;
		top: 28px;
		left: 55px;

		.icon{order: 4;}
		.icon:nth-child(2){order: 1;}
		.icon:nth-child(3){order: 2;}
		&__empty{order: 3;}
	}
}

.services{
	column-count: 3;
	column-gap: 30px;

	&__sect{
		display: inline-block;
		margin-bottom: 65px;
		padding: 0 10px;
	}

	&__title{
		font-family: $font-montserrat;
		@include font(none, 600, 1.8rem, 1.4, $color-dark);
		margin-bottom: 20px;
		position: relative;
		z-index: 1;

		&::before{
			content: '';
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: absolute;
			top: -5px;
			left: -10px;
			opacity: 0.7;
			z-index: -1;
		}
	}

	&__sect:nth-child(4n+1) &__title::before{background: #79C175;}
	&__sect:nth-child(4n+2) &__title::before{background: #FFB198;}
	&__sect:nth-child(4n+3) &__title::before{background: #F0BB1F;}
	&__sect:nth-child(4n+4) &__title::before{background: #C8CBEE;}

	&__item{
		padding-left: 20px;
		position: relative;
		@include font(none, none, 1.6rem, 1.5, none);

		&::before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 8px;
			height: 6px;
			background: url(../img/check.png) no-repeat center;
			background-size: contain;
			margin-left: -20px;
			margin-right: 12px;
			margin-top: -6px;
		}
	}

	&__item:not(:last-child){margin-bottom: 14px;}

	&__note{
		@include font(none, none, 1.4rem, 1.5, $color-green);
	}

	&__more{display: none;}
}

@media (max-width: 767px) {
	.services-wrap{padding: 60px 0 56px;}

	.services{
		column-count: 1;

		&__sect:not(:nth-child(-n+3)){display: none;}
		&.open &__sect{display: block!important;}

		&__sect{margin-bottom: 45px;}
		&__title{font-size: 1.6rem}

		&__item{
			font-size: 1.4rem;
			padding-left: 15px;

			&::before{
				margin-left: -15px;
				margin-right: 7px;
			}
		}

		&__more{
			display: flex;
			justify-content: flex-end;
			position: relative;
			overflow: hidden;
		}

		&__btn{
			@include font(none, bold, 1.4rem, 1.2, $color-green);
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: right;
			padding-left: 10px;
			cursor: pointer;
			position: relative;

			&::after{
				content: "";
				display: block;
				width: 1000px;
				height: 1px;
				background: rgba(94,98,130,.3);
				position: absolute;
				bottom: 2px;
				right: 100%;
			}
		}
	}
}