html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 10px, 1.5, $color-text);
	box-sizing:border-box;
}

body{font-size: 1.6rem;}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{max-width: 100%;}

a{
	color: $color-green;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

p{
	padding: 0;
	margin-bottom: 2rem;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	font-family: $font-montserrat;
	font-weight: 600;
	line-height: 1.4;
	color: $color-dark;
}

h1,.h1{
	font-size: 4.2rem;
	margin-bottom: 6rem;
}

h2,.h2{
	font-size: 2.4rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
}

h3,.h3{
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
}

h4,.h4{
	font-size: 1.8rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
}

h5,.h5{
	font-size: 1.6rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	padding-bottom: 76px;
	width: 100%;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 5.8rem;
	min-width: 200px;
	background: $color-green;
	border: none;
	border-radius: 10px;
	@include font(none, bold, 1.4rem, 1.4, #fff);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 0 30px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	overflow: hidden;

	&:hover{color: #fff;}

	&_border{
		background: transparent;
		border: 2px solid $color-green;
		color: $color-green;
	}

	&_border:hover{border-color: $color-light-green;}

	&_white{
		background: #fff;
		color: $color-green;
	}
	
	&_border.btn_white{
		background: transparent;
		border-color: #fff;
		color: #fff;
	}

	&_border.btn_white:hover{border-color: $color-light-green;}
}

.btn{
	&::after{
		content: "";
		height: 0;
		width: 100%;
		background: $color-light-green;
		position: absolute;
		left: 0;
		top: 0;
		transition: height 0.2s ease 0s;
		z-index: -1;
	}

	&:hover::after{height: 100%;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}