footer.footer
	.container
		.row
			.col-12
				.footer__content
					.footer__copyright © База отдыха- Лесная купель, 2022 г. Все права защищены.
					.footer__text Муниципальное образование Cеверодвинск
					.footer__contact
						a(href="tel:+79115746202") +7 (911) 574-62-02

					.social
						a(href="#").social__item
							+svg('ic-vk','ic-vk', '21', '12')

						a(href="#").social__item
							+svg('ic-ok','ic-ok', '11', '18')

						a(href="#").social__item
							+svg('ic-instagram','ic-instagram', '16', '16')

						a(href="#").social__item
							+svg('ic-telegram','ic-telegram', '16', '16')